# Environment variables
.env
**/.env
**/.env.local
**/.env.development
**/.env.test
**/.env.production

# OS files
.DS_Store

# Binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# IDE directories
.idea/
.vscode/

# Temporary files
tmp/
temp/

# Node modules
**/node_modules/
**/node_modules/**

# Next.js build output
.next/
*.next/

# Next.js cache (https://nextjs.org/docs/app/building-your-application/optimizing/caching#disabling-caching)
.next/cache/

# Cursor rules
.cursorrules
.cursor
.cursorignore
